@tailwind base;
@tailwind components;
@layer components {
  * {
    @apply selection:bg-violet-200;
  }
  .safeArea {
    @apply max-w-safeArea mx-auto;
  }
  input:autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset !important;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
}
@tailwind utilities;
